<%- include(
    'components/header', {
    title: '',
    description: '',
    keyword: '',

    })
%>
<link href="/stylesheets/pagination.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="movieList">
                <nav class="navbar" role="navigation" id="navibar">
                    <ul class="nav navbar-nav">
                        <li><a href="/movies" class="currentmovietype">最新</a></li>
                        <li><a href="/movies/douban" class="currentmovietype">豆瓣高分</a></li>
                        <li><a href="{% url 'movie_list_imdb' %}" class="currentmovietype">IMDB高分</a></li>
                    </ul>
                </nav>
                <div>
                <ul class="movieList_tab">
                    <!--选项卡切换之最新-->
                    <li class="current">
                        <div class="movieList_con row">
                            <% movies.data.forEach(function(movie){ %>
                                <div class="col-md-4">
                                    <div class="thumbnail movieList_con_cell_info">
                                        <div class="post-thumbnail">
                                            <a href="/movie/subject/<%= movie._id %>/" class="inimg" target="_blank" title="<%= movie.chinese_movie_name %>">
                                                <img src="<%= movie.imgs[0] %>" alt="<%= movie.chinese_movie_name %>"/>
                                            </a>
                                        </div>
                                        <a href="/movie/subject/<%= movie._id %>/"><%= movie.movie %></a>
                                    </div>
                                    <!--  -->
                                </div>
                            <% }); %>
                        </div>
                    </li>
                </ul>
                </div>
            </div>
            <div id="pages"></div>
        </div>

        <div class="col-md-4" style="margin-top: 20px;">
            
            <div class="panel panel-default">
                <div class="panel-heading">最新更新</div>
                <div class="panel-body">
                  Panel content
                </div>
            </div>
              
            <div class="panel panel-default tags">
                <div class="panel-heading">
                  <h3 class="panel-title">热门标签</h3>
                </div>
                <div class="panel-body tags-body">
                    <a href="/movies?style=剧情">剧情</a>
                    <a href="/movies?style=犯罪"">犯罪</a>
                    <a href="/movies?style=悬疑">悬疑</a>
                    <a href="/movies?style=动作">动作</a>
                    <a href="/movies?style=喜剧">喜剧</a>
                    <a href="/movies?style=冒险">冒险</a>
                    <a href="/movies?style=灾难">灾难</a>
                    <a href="/movies?style=爱情">爱情</a>
                    <a href="/movies?style=科幻">科幻</a>
                    <a href="/movies?style=恐怖">恐怖</a>
                    <a href="/movies?style=惊悚">惊悚</a>
                    <a href="/movies?style=战争">战争</a>
                    <a href="/movies?style=奇幻">奇幻</a>
                </div>
            </div>
            

            <!--广告-->
            <%- include('components/ad', {})%>
            
            <!--广告-->

            <!--声明-->
            <%- include('components/statement', {})%>
            <!--声明-->

            <!--关于-->
            <%- include('components/about', {})%>
            <!--关于-->
            
        </div>
        
    </div>
    
</div>

<input type="hidden" id="total" value="<%= movies.total %>" />
<input type="hidden" id="currentPage" value="<%= currentPage %>" />
<input type="hidden" id="pageSize" value="<%= pageSize %>" />
<input type="hidden" id="q" value="<%= q %>" />
<%- include('components/footer', {})%>
<script src="/javascripts/pagination.js"></script>
<script>
    new Pagination({
        element: '#pages', // 渲染的容器  [必填]
        type: 1, // 样式类型，默认1 ，目前可选 [1,2] 可自行增加样式   [非必填]
        layout: 'total, sizes, home, prev, pager, next, last, jumper', // [必填]
        pageIndex: $("#currentPage").val(), // 当前页码 [非必填]
        pageSize: $("#pageSize").val(), // 每页显示条数   TODO: 默认选中sizes [非必填]
        pageCount: 9, // 页码显示数量，页码必须大于等于5的奇数，默认页码9  TODO:为了样式美观，参数只能为奇数， 否则会报错 [非必填]
        total: $("#total").val(), // 数据总条数 [必填]
        singlePageHide: false, // 单页隐藏， 默认true  如果为true页码少于一页则不会渲染 [非必填]
        pageSizes: [12, 24, 36, 48], // 选择每页条数  TODO: layout的sizes属性存在才生效
        prevText: '上一页', // 上一页文字，不传默认为箭头图标  [非必填]
        nextText: '下一页', // 下一页文字，不传默认为箭头图标 [非必填]
        ellipsis: true, // 页码显示省略符 默认false  [非必填]
        disabled: true, // 显示禁用手势 默认false  [非必填]
        currentChange: function(index, pageSize) { // 页码改变时回调  TODO:第一个参数是当前页码，第二个参数是每页显示条数数量，需使用sizes第二参数才有值。
            // console.log(index, pageSize);
            location.href = '/movies?page='+index+'&limit='+pageSize+'&q='+$("#q").val();
        }
    });
</script>

